circle {
  stroke: black;
  stroke-width: 0.5px;
  fill: hotpink;
  opacity: 0.6;
};

.axis path {
  fill:none;
  stroke: white;
}

.axis {
  font-size: 8pt;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

.tick {
  fill: none;
  stroke: white;
}

svg.axis_label {
  color: white;
}

.bubble-chart-title {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1.5px;
}

.scatter-plot-title {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1.5px;
}
