// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: 'Titillium Web', sans-serif;
}

body {
  background: #1C2124;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 0;
}

.NoiseSpace-title {
  color: white;
  font-size: 120px;
  text-align: center;
  margin-top: 2em;
  letter-spacing: 1.5px;

  @media screen and (max-width: 850px) {
    font-size: 90px;
  }
  @media screen and (max-width: 600px) {
    font-size: 60px;
  }
}

.welcome-info, .health-info, .noise-experience, .noise-data-info {
  color: #DDDDDD;
  font-size: 24px;
  text-align: center;
  margin-top: 230px;
  line-height: 160%;
  letter-spacing: 1.5px;

  span {
    font-size: 32px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 950px) {
    font-size: 18px;
  }

  @media screen and (max-width: 650px) {
    font-size: 16px;
  }

  @media screen and (max-width: 550px) {
    font-size: 14px;
  }
}

nav {
  display: inline-block;
  margin-top: 10px;
}

.DIY-title {
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1.8px;
  text-align: center;
  margin: 50px;
}

.DIY-link {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 5px;
}

div.DIY-container {
  color: white;
  font-size: 18px;
  margin: 50px;
}

.tessel2-pic {
  margin: 50px;
  text-align: center
}

.tessel2-pic>img {
  border-radius: 10%;
  width: 23em;
  height: 20em;
}

.text-box {
  height: 1.5em;
  width: 3em;
  color: black;
  background-color: white;
  padding: 15px;
  border-radius: 10%;
}

.NoiseSpace-logo {
  display: none;
  color: white;
  font-size: 32px;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 15px 40px 20px 20px;
}

// .fadeInNav {
//   display:none;
//   a {
//     text-decoration: none;
//     color: white;
//     font-size: 32px;
//     letter-spacing: 1.5px;
//     margin: 20px 40px 20px 20px
//   }
// }

// .fadeInNavDIYPage>a {
//   text-decoration: none;
//   color: white;
//   letter-spacing: 1.5px;
//
// }
