// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: black;
}

canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.NoiseSpace-title {
  color: white;
  font-size: 120px;
  text-align: center;
  margin-top: 2em;
}

.health-info {
  color: white;
}

// data visualisation

// circle plot points
circle {
  stroke: black;
  stroke-width: 0.5px;
  fill: hotpink;
  opacity: 0.6;
};

// axis

.axis path {
  fill:none;
  stroke: white;
}

.axis {
  font-size: 8pt;
  font-family: sans-serif;
  color: white;
}

.tick {
  fill: none;
  stroke: white;
}

.axis_label {
  color: white;
}
