<canvas id="canvasCells" width="200" height="200"></canvas>
<h1 class="NoiseSpace-title"></h1>
<p class="health-info"></p>

<div class="data-visualisation-container">
  <h1 class="NoiseSpace-logo">NoiseSpace.</h1>
  <div class="bubble_chart"></div>
  <div class="scatter_plot"></div>
</div>
