<canvas id="canvasCells" width="200" height="200"></canvas>
<h1 class="NoiseSpace-title"></h1>
<div class="welcome-info"></div>
<div class="health-info"></div>
<div class="noise-experience"></div>
<div class="noise-data-info"></div>

<nav>
  <div class="NoiseSpace-logo fadeInNav"><%= link_to 'NoiseSpace.', pages_data_visualisations_path %></div>
  <div class="DIY-link fadeInNav"><%= link_to 'DIY', pages_DIY_path %></div>
</nav>
