<canvas id="canvasCells" width="200" height="200"></canvas>
<h1 class="NoiseSpace-title"></h1>
<div class="welcome-info"></div>
<div class="health-info"></div>
<div class="noise-experience"></div>
<div class="noise-data-info"></div>


<div class="data-visualisation-container">
<div class="bubble_chart"></div>
<div class="scatter_plot"></div>
</div>
