<canvas id="canvasCells" width="200" height="200"></canvas>
<h1 class="NoiseSpace-title"></h1>
<div class="welcome-info"></div>
<div class="health-info"></div>
<div class="noise-experience"></div>
<div class="noise-data-info"></div>


<div class="data-visualisation-container">
<!-- <nav>
  <ul class="nav-bar-items">
    <li class="NoiseSpace-logo"></li>
    <li><script class="DIY-link" type="text/javascript" src="DIY.js"></script></li>
  </ul>
</nav> -->
<div class="bubble_chart"></div>
<div class="scatter_plot"></div>
</div>
