<canvas id="canvasCells" width="200" height="200"></canvas>
<h1 class="NoiseSpace-title"></h1>
<div class="welcome-info"></div>
<div class="health-info"></div>
<div class="noise-experience"></div>
<div class="noise-data-info"></div>


<div class="data-visualisation-container">
<nav>
  <!-- <ul class="nav-bar-items" style="list-style: none;">
    <li class="NoiseSpace-logo"></li>
    <li><%= link_to 'DIY', pages_DIY_path, :class => 'DIY-link' %></li>
  </ul> -->
  <div class="NoiseSpace-logo"></div>
  <div class="DIY-link"><%= link_to 'DIY', pages_DIY_path %></div>
</nav>
<div class="bubble_chart"></div>
<div class="scatter_plot"></div>
</div>
